header {
  transition: 0.5s ease-in-out;
}

body {
  transition: 0.5s ease-in-out;
}

.custom-input-login::placeholder {
  color: rgba(41, 161, 156, 0.5);
}
.custom-input-login > input::placeholder {
  color: rgba(41, 161, 156, 0.5);
}

.custom-input-login > span > span > svg {
  color: rgba(41, 161, 156, 0.5);
}

.custom-input-login {
  transition: 0.5s ease-in-out;
}

#mainForm {
  transition: 0.5s ease-in-out;
}

#mainFormText {
  transition: 0.5s ease-in-out;
}

.shadow-right {
  box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.15); /* Настройте значения по своему усмотрению */
}

.todo-container {
    position: relative;
  }
  
  .icon-container {
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .todo-container:hover .icon-container {
    opacity: 1;
    transform: scale(1);
  }